@media all {
.FooterBackgroundRed { background-color:;
background-image:linear-gradient(left, rgba(200,31,32,1) 0%, rgba(200,31,32,1) 0%, rgba(170,21,29,1) 100%, rgba(170,21,29,1) 100%);
background-image:-webkit-linear-gradient(left, rgba(200,31,32,1) 0%, rgba(200,31,32,1) 0%, rgba(170,21,29,1) 100%, rgba(170,21,29,1) 100%);
background-position:center center;
background-repeat:no-repeat;
background-attachment:scroll;
 }
}

